<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger API</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1 class="text-center py-3">Burger DB</h1>
    </header>

    <div class="container">
       
        <div id="app">

            <table class="table table-dark mt-5" id="shadow">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price / €</th>
                        <th>Rating</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="burger in allBurgers">
                        <th>{{burger._id}}</th>
                        <th>{{burger.name}}</th>
                        <th>{{burger.price}}</th>
                        <th>{{burger.rating}}</th>
                        <th>{{burger.location}}</th>
                        <th><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></th>
                        <th><span><i class="fa fa-trash-o" aria-hidden="true" @click="deleteBurger(burger._id)"></i></span></th>
                    </tr>
                </tbody>
            </table>

            <!-- Add Burger Modal Trigger -->
             <button type="button" class="btn btn-blue btn-block my-3" data-toggle="modal" data-target="#addModal">
                Add Burger
            </button> 

            <!-- Add Burger Modal -->
             <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="addModalLabel">Add Burger to DB</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Name</label>
                            <input type="text" placeholder="e.g. McRoyal" class="form-control" v-model="burgerSchema.name">
                            <br>
                            <label>Price</label>
                            <input type="text" placeholder="e.g. 4" class="form-control" v-model="burgerSchema.price">
                            <br>
                            <label>Rating</label>
                            <input type="number" placeholder="e.g. 7" class="form-control" v-model="burgerSchema.rating" min="1" max="10">
                            <br>
                            <label>Location</label>
                            <input type="text" placeholder="e.g. McDonalds" class="form-control" v-model="burgerSchema.location">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="createBurger" data-dismiss="modal">Save
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!--#app-->

    </div>
    <!--container-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="vue.js"></script>
</body>

</html>