* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgba(3, 3, 3, 0.247);
  height: 10vh;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
#shadow {
  -webkit-box-shadow: 0px 0px 23px 1px rgba(38, 21, 163, 1);
  -moz-box-shadow: 0px 0px 23px 1px #2615a3;
  box-shadow: 0px 0px 23px 1px rgba(38, 21, 163, 1);
}
table {
  border-radius: 14px;
}
.btn-blue {
  background-color: #2615a3;
  color: #fff;
}
.btn-blue:hover {
  -webkit-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.75);
}
label {
  color: #0f2027;
}
